.boxed-layout {
    padding: 0;
    height: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    background: url(../img/bg-pattern.png) repeat;
}

.wrapper {
    background-color: #fff;
    padding: 35px 20px 35px 20px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(120,120,120,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(120,120,120,1);
    box-shadow: 0px 1px 5px 0px rgba(120,120,120,1);
}

.navbar {
    margin-bottom: 0px;
}

.logo-img {
    margin-top: 5px;
    margin-right: 30px;
    margin-left: 10px;
}

.btn-test {
    margin: 5px;
}

.test-image {
    position: fixed;
    z-index: -9999;
    display: block;
}

.next-prev-buttons {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.user-profile-2 {
    text-align: center;
    position: relative;
    margin-top:10px;
}

.box-info {
    position: relative;
    padding: 50px 15px 15px 15px;
    background: #fff;
    color: #5b5b5b;
    margin-bottom: 20px;
    -webkit-transition: All 0.4s ease;
    -moz-transition: All 0.4s ease;
    -o-transition: All 0.4s ease;
}

.user-profile-2 .header-cover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 130px;
    overflow: hidden;
    z-index: 1;
}

.user-profile-2 .user-profile-inner {
    z-index: 2;
    position: relative;
}

.user-profile-2 .user-profile-inner h4.white {
    color: #fff;
}

.user-profile-2 .user-profile-inner img.profile-avatar {
    box-shadow: 0 0 0 5px rgba(255,255,255,1);
    -moz-box-shadow: 0 0 0 5px rgba(255,255,255,1);
    -webkit-box-shadow: 0 0 0 5px rgba(255,255,255,1);
    border: none;
    width:100px;
    height:100px;
}

.user-button {
    margin: 15px 0;
}