body {
	/*overflow-y: hidden;*/
	height: 100%;
}

.captcha-input {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	background: rgba(255,255,255,0.2);
}

.error-form {
	color: #e7c9c9 !important;
	font-size: 100%;
	font-weight: bold;
	text-align: center;
}

.form-header .form-control {
	height: 40px;
}

.overlay {
	overflow-y: hidden;
}

.captcha-input {
	background: rgba(221,251,255,0.5) !important;
	border: 1px solid rgba(255,255,255,0.1) !important;
}

.checkbox label {
	color: #fff;
	text-align: left;
}

.form-group select {
	padding: 0;
}