<!-- /.javascript files -->
<script src="src/resources/js/jquery.js"></script>
<script src="src/resources/js/bootstrap.min.js"></script>
<script src="src/resources/js/custom.js"></script>
<script src="src/resources/js/jquery.sticky.js"></script>
<script src="src/resources/js/wow.min.js"></script>
<script src="src/resources/js/owl.carousel.min.js"></script>
<script>

    jQuery(document).ready(function() {


        var resizeBackground = function (defaultSize) {

            var size = 0;

            if ($(document).height() < defaultSize)
                    size = defaultSize;
            else { size = $(document).height(); }

            if ($(".overlay").length != 0) {
                $("body").css("overflow-y", "hidden");
                $(".overlay").css("height", size);
            }
        };

        resizeBackground(700);

        $(window).resize(function () {
            jQuery(document).load(function() {
                resizeBackground(700);
            })

        })
    });
    new WOW().init();
</script>
</body>
</html>